In [2]:
def update_list(lst, num):
    """
    Adds a number to the end of the list, removes the first element,
    and returns the updated list.
    """
    lst.append(num)     
    if lst:            
        lst.pop(0)     
    return lst

user_lst = [10, 20, 30, 40]
num = 50
result = update_list(user_lst, num)
print("update list :",result)

update list : [20, 30, 40, 50]

In [3]:
def get_total_budget(people):
   
    return sum(p.get('budget', 0) for p in people)

people_list = [
    {"name": "Alice", "budget": 1200},
    {"name": "Bob", "budget": 1500},
    {"name": "Charlie", "budget": 800}
]

total = get_total_budget(people_list)
print(total)  # Output: 3500

3500

In [4]:
def sort_string_alphabetically(s):
   
    return ''.join(sorted(s))

result = sort_string_alphabetically("data")
print(result)  # Output: "aadt"

aadt

In [5]:
def calculate_compound_interest(p, t, r, n):
    
    amount = p * (1 + r / n) ** (n * t)
    return round(amount, 2)


future_value = calculate_compound_interest(10000, 10, 0.06, 12)
print(future_value)  # Output: 18193.97

18193.97

In [9]:
def only_return_integer(lst):
    return [item for item in lst if isinstance(item, int)]

user_input = [1, 'hello', 3.14, 42, True, None, -7]
result = only_return_integer(user_input)
print(result)

[1, 42, True, -7]