In [ ]:
 convert meters to kilometers

In [4]:
meter = float(input("enter a number :"))

kilometer = meter / 1000

print("convert meter to kilometer :", kilometer)

enter a number : 23400

convert meter to kilometer : 23.4

In [ ]:
convert kilometers to meter

In [2]:
kilometer = float(input("enter a number :"))

meter = kilometer * 1000

print("convert kilometer to meter :", meter)

enter a number : 234

convert kilometer to meter : 234000.0

In [8]:
def convert_meter_to_kilometer(meter):
    return meter / 1000

user_input = float(input("enter a value :"))
result = convert_meter_to_kilometer(user_input)
print(f"kilometer : {result}")

enter a value : 23400

kilometer : 23.4

In [9]:
def convert(meter):
    return meter / 1000

convert(23400)

23.4

In [10]:
n = int(input('enter a number :'))

for i in range(1, 11):
    print(f"{n} x {i} = {n*i}")

enter a number : 5

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [29]:
import calendar

In [30]:
year = 2025
month = 11

calendar = calendar.month(year, month)
print(calendar)

   November 2025
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30